app = "superrely-fly"
primary_region = "bom"

[build]
dockerfile = "Dockerfile"

[deploy]
strategy = "immediate"

[[mounts]]
destination = "/app/data"
source = "gun_data"

[[services]]
internal_port = 8765
protocol = "tcp"

auto_start_machines = true
auto_stop_machines = true
min_machines_running = 0

  [[services.ports]]
  handlers = ["http"]
  port = 80

  [[services.ports]]
  handlers = ["tls", "http"]
  port = 443

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "256mb"
