app = "rely-file-storage-added" # This must match your Fly app name exactly
primary_region = "bom"

[build]
  dockerfile = "Dockerfile"

[[services]]
  internal_port = 8765
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443